server {
        listen 80 default_server;
        server_name localhost;

        location / {
                root    /usr/share/nginx/html;
                index   index.html;
        }

        location = /404.html {
                internal;
        }
}