filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/rsyslog/web/nginx_access.log
  fields:
    type: nginx_access
  service: nginx
  fields_under_root: true
  scan_frequency: 5s
- type: log
  enabled: true
  paths:
  - /var/log/rsyslog/web/nginx_error.log
  fields:
    type: nginx_error
  service: nginx
  fields_under_root: true
  scan_frequency: 5s
output.logstash:
  hosts: ["192.168.11.104:5044"]